<!doctype html>
<html>
  <head>
    <title>album {{ .Name }}</title>
  </head>
  <body>
    {{ range .Photos }}
    <a href="{{ .Page }}"><img class="thumbnail" src="{{ .Thumbnail }} " alt="{{ .Description }}"></a>
    {{ end }}
  </body>
</html>
